* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ham-container {
  display: none;
}

@media (max-width: 767px) {
  .example {
    width: 100%;
    height: 15vh;
    background-image: url("../Images/attachment_118172475.png");
    background-size: 475px 275px;
    background-position: center;
  }
  .example .ham-container {
    display: inline;
  }
  .example .ham-container .navbar {
    width: 200px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 15;
  }
  .example .ham-container .change {
    right: 0;
  }
  .example .ham-container .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .example .ham-container .hamburger-menu .line {
    width: 100%;
    height: 3px;
    background-color: chocolate;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .example .ham-container .change .line-1 {
    -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
            transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  .example .ham-container .change .line-2 {
    opacity: 0;
  }
  .example .ham-container .change .line-3 {
    -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
            transform: rotateZ(405deg) translate(-8px, -6px);
  }
  .example .ham-container .nav-list {
    text-align: right;
  }
  .example .ham-container .nav-list .nav-item {
    list-style: none;
    margin: 25px;
  }
  .example .ham-container .nav-list .nav-item .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }
  .example .ham-container .nav-link::before,
  .example .ham-container .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .example .ham-container .nav-link::after {
    bottom: 0;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .example .ham-container .nav-link::before {
    top: 0;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .example .ham-container .nav-link:hover::before,
  .example .ham-container .nav-link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .page-header-container {
    display: none;
  }
}

@media (max-width: 450px) {
  .hamburger-menu {
    position: absolute;
    right: 35px;
  }
  .hamburger-menu .line {
    position: relative;
    left: 35px;
  }
}

.page-header-container {
  background: #262626;
  height: 10vh;
  width: 100%;
}

.logo {
  width: 250px;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

.container-wrapper {
  width: 100%;
}

.container-wrapper .nav-wrapper {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-wrapper .nav-wrapper .navigation-items {
  list-style: none;
  padding: 10px;
}

.container-wrapper .nav-wrapper .navigation-items .navigation-link {
  color: white;
  text-decoration: none;
}

.container-wrapper .nav-wrapper .navigation-items .navigation-link:hover {
  opacity: 0.7;
  color: chocolate;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  overflow: hidden;
}

.btn-wrapper .btn-sign {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.btn-wrapper .btn-sign:hover {
  opacity: 0.7;
  color: chocolate;
}

.btn-wrapper .cart {
  color: white;
  padding: 10px;
}

.btn-wrapper .cart:hover {
  opacity: 0.7;
  color: chocolate;
}

.btn-wrapper .search {
  color: white;
  padding: 10px;
}

.btn-wrapper .search:hover {
  opacity: 0.7;
  color: chocolate;
}

.landing {
  min-height: 90vh;
  background-image: url("../Images/isaac-benhesed-onLbXleIkds-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing .main-wrap {
  padding: 75px 75px;
}

.landing .main-wrap .text-block {
  font-size: 46px;
  line-height: 48px;
}

.landing .main-wrap .text {
  font-size: 16px;
}

.landing .main-wrap .button.btn-dark {
  border: 1px solid chocolate;
  padding: 7px;
  background: chocolate;
  border-radius: 22.5px;
}

.landing .main-wrap .button.btn-dark:hover {
  background: #be5e1a;
  text-decoration: none;
}

.landing .main-wrap .small-text {
  font-size: 10px;
  margin: 15px;
}

@media (max-width: 450px) {
  .text {
    padding: 10px 0px;
  }
}

.shapes {
  height: 80vh;
  background: url("../Images/dots.png");
  background-size: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shapes .shapes-container {
  background: white;
  height: 75vh;
}

.shapes .shapes-container .shop-tittle {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 36px;
}

.shapes .shapes-container .shop-tittle:hover {
  color: chocolate;
}

.shapes .shapes-container .shapes-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  margin-top: -25px;
  display: flex;
}

.shapes .shapes-container .shapes-center .circle1 {
  height: 275px;
  width: 275px;
  border-radius: 50%;
}

.shapes .shapes-container .shapes-center .circle2 {
  height: 275px;
  width: 275px;
  border-radius: 50%;
}

.shapes .shapes-container .shapes-center .circle3 {
  height: 275px;
  width: 275px;
  border-radius: 50%;
}

.shapes .shapes-container .shapes-center .label {
  text-transform: uppercase;
  margin-top: 15px;
}

.shapes .shapes-container .shapes-center .label:hover {
  color: chocolate;
}

.shapes .shapes-container .shapes-center .paragraph {
  font-size: 18px;
}

@media (max-width: 767px) {
  .shop-tittle {
    margin-bottom: 75px;
  }
  .shapes {
    height: 160vh;
  }
  .shapes .shapes-container {
    height: 150vh;
  }
}

@media (max-width: 450px) {
  .shop-tittle {
    margin-bottom: 75px;
  }
  .shapes {
    height: 200vh;
  }
  .shapes .shapes-container {
    height: 200vh;
  }
}

.split {
  background: url("../Images/dots.png");
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split .white-background {
  background: white;
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split .white-background .split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split .white-background .split-container .covid-title {
  position: relative;
  top: -100px;
  font-size: 18px;
}

.split .white-background .split-container .yes {
  padding: 10px 50px;
}

.split .white-background .split-container .split-bttn {
  border: 1px solid chocolate;
  padding: 7px;
  background: chocolate;
  border-radius: 22.5px;
  color: white;
  position: relative;
  top: 15px;
}

.split .white-background .split-container .split-bttn:hover {
  background: #be5e1a;
  text-decoration: none;
}

.split .white-background .split-img {
  height: 75vh;
  width: 100%;
}

@media (max-width: 767px) {
  .split {
    height: 145vh;
  }
  .split .white-background {
    height: 140vh;
  }
  .hello {
    position: absolute;
    top: 21vh;
  }
}

@media (max-width: 450px) {
  .split {
    height: 160vh;
  }
  .split .white-background {
    height: 150vh;
  }
}

.form-section {
  height: 50vh;
  opacity: 0.9;
  background: url("../Images/mike-kenneally-TD4DBagg2wE-unsplash.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-section .email-block {
  margin: 25px;
}

.form-section .email-button {
  border: 1px solid chocolate;
  padding: 7px;
  background: chocolate;
  border-radius: 22.5px;
  color: white;
  position: relative;
  top: 15px;
}

.form-section .email-button:hover {
  background: #be5e1a;
  text-decoration: none;
  color: white;
}

@media (max-width: 450px) {
  .news {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */